<h1>Which movie would you like to add to the database?</h1>

<ul>
  <% @title_year.each do |x| %>
      <a href=""><li><%= x %></li></a>
  <% end  %>
</ul>

<ul>
  <% @result['search'].each  do |x| %>
      <a href="<%= "#{x['imdbID']}" %>"><li><%= "#{x['Title']}, #{x['Year']}" %></li></a>
  <% end  %>
</ul>



<p>result_subset: <%= @result_subset %></p>
<p>Extract: <%= @extract %></p>